* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.exemplo {
    border: 1px solid black;
    display: inline-block;
    font-size: 32px;
    width: 110px;
    height: 110px;
}

.card {
    width: 200px;
    height: 200px;
    border: 2px solid #fcb228;
    margin: 20px 50px;
    border: 20px solid #fff;
    border-bottom-style: dashed;
    
}